.cata {
  display: flex;
  flex-direction: column;
}
.cata .cata_name {
  display: block;
  width: 55PX;
  height: 48PX;
  text-align: center;
  line-height: 48PX;
  font-size: 12PX;
}
.cata .cata_nameselect {
  color: red !important;
}
