.bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 10PX;
  left: 0;
  height: 40PX;
}
.bottom .bottom_body {
  height: 40PX;
  display: flex;
  flex-direction: row;
  font-size: 10PX;
  justify-content: space-between;
  width: 90%;
  padding: 0 10PX;
  border-radius: 50PX;
  background-color: #3a3b36;
  color: #89888d;
}
.bottom .bottom_body .num {
  position: absolute;
  margin-left: 60PX;
  margin-top: -20PX;
  width: 5PX;
  height: 5PX;
  border-radius: 50%;
  color: #fff;
  background-color: red;
  line-height: 5PX;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 8PX;
}
.bottom .bottom_body .store_img {
  width: 50PX;
  height: 50PX;
  margin-top: -20PX;
  margin-left: 20PX;
}
.bottom .bottom_body .info {
  height: 50PX;
  line-height: 50PX;
}
.bottom .bottom_body .submit {
  height: 40PX;
  line-height: 40PX;
}
.bottom .bottom_body .price {
  color: #fff;
  font-weight: bold;
  font-size: 12PX;
  margin-left: -60PX;
}
.bottom .bottom_body .goPay {
  background-color: #f4ea2a;
  color: #000;
  font-size: 13PX;
  height: 100%;
  display: block;
  width: 90PX;
  text-align: center;
  margin-right: -12PX;
  border-radius: 0 50PX 50PX 0;
}
