.addcut {
  position: absolute;
  right: 10PX;
  bottom: 10PX;
}
.addcut .operate_img {
  width: 20PX;
  height: 20PX;
}
.addcut .food_num {
  min-width: 26PX;
  height: 28PX;
  line-height: 28PX;
  font-size: 14PX;
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
}
.addcut .hide {
  display: none;
}
