.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 10px;
  height: 30px;
  margin-top: 10px;
}
.activity .type {
  color: #fff;
  background: red;
  width: 35px;
  height: 35px;
  border-radius: 1px;
  text-align: center;
  line-height: 35px;
}
.activity .length {
  color: #ccc;
}
