.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top img {
  width: 28px;
  height: 28px;
}
.top .right img {
  margin-right: 15px;
}
.top .left img {
  margin-left: 15px;
}
